.tutorial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 25px;
}

.tutorial-element {
    text-align: center;
    /* background-color: #f9f9f9; */
    background-color: rgb(240,240,240);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tutorial-element:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tutorial-element img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tutorial-element a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.tutorial-element a:hover {
    color: #007bff;
}
